@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');



body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    color:black; 
}

.title{
    font-size: 100px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}

.form input{
    width: 400px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 0px;
}

.form input:focus{
    outline:none; 
}

.list{
    background: white;
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.434);
}

.list ul {
    list-style:none;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.list ul li{
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(232, 232, 232);
    font-size: 20px;
}

.list ul li:last-child{
    border-bottom: 0px;
}

.trash{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.trash:hover{
    cursor: pointer;
    color: rgb(248, 52, 52);
    transform: scale(1.2);
}

.items{
    font-size: 15px;
    color: rgb(190, 190, 190);
}

.disable {
    display:none; 
}
